# Archivo de CODEOWNERS
# Documentación: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Dueño global por defecto para todo el repositorio
* @yohanvillarp

# Dueños específicos por capa arquitectónica (puedes agregar los usuarios de GitHub de tu equipo aquí)
/apps/api-core/       @yohanvillarp
/apps/game-engine/    @yohanvillarp
/apps/studio/         @yohanvillarp
/apps/cliente-mobile/ @yohanvillarp

# Configuración crítica del repositorio e infraestructura
/.github/             @yohanvillarp
/.agents/             @yohanvillarp
/docker-compose.yml   @yohanvillarp
/Makefile             @yohanvillarp
